
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #000000;
    flex-direction: column;
    overflow: hidden; /* Ensure content doesn't overflow */
}


.hex {
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(5, 24, 43, 0.9), transparent);
    background-size: 200% 100%;
    animation: waveOpacity 5s linear infinite;
}

@keyframes waveOpacity {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: -100% 0;
    }
}

.middle {
    width: 100vw;
    height: 40vh;
    background-color: #021526;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    display: flex;
    position: relative; 
    overflow: hidden;
    opacity: 0.98;
}

.buttonbox{
    position: relative;
    display: flex;
    top: 25vh;
    left: 15vw;
    width: 30vw;
    height: 7vh;
    gap: 2vw;
}

.btn{
    height: 100%;
    width: 24%;
}

#lbl-welcome {
    position: absolute;
    left: 15vw;
    top: 3vh;
    font-size: 5vw;
    color: rgb(17, 73, 110);
    font-family: Georgia, 'Times New Roman', Times, serif;
}